# Rust dependencies
Cargo.lock
target/

# Docs
docs/graphic_computing_help/

# Binary
*.spv

# Model
*.glb
*.gltf

# 3D
vulkan-tutorial/resources/textures/
vulkan-tutorial/resources/3D_meshes/
vulkan-tutorial/resources/glb/