# Rust dependencies
Cargo.lock
target/

# Docs
docs/graphic_computing_help/*

# Binary
*.spv

# Model
*.glb
*.gltf

# Texture
vulkan-tutorial/resources/textures/*

# 3D meshes
vulkan-tutorial/resources/3D_meshes/*